<nav class="navbar navbar-expand-lg navbar-light bg-light" id = "toolbarr">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">BlaBlaCar</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link">Адмін</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/found-trip" class="nav-link">Пошук</a>
        </li>
        <li class="nav-item">
          <a routerLink="/publisher-trip" class="nav-link">Опублікувати поїздку</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Логін</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link">Реєстрація</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
