:root {
  --g43xpl0: 1px solid;
  --g43xpl1: 2px solid;
  --g43xpl2: 3px solid;
  --g43xpl3: 1px;
  --g43xpl4: 2px;
  --g43xpl5: 3px;
  --g43xpl6: hsla(189, 89%, 17%, 1);
  --g43xpl7: hsla(190, 23%, 31%, 1);
  --g43xpl8: hsla(189, 13%, 50%, 1);
  --g43xpl9: hsla(189, 13%, 50%, 1);
  --g43xpla: hsla(0, 0%, 100%, 1);
  --g43xplb: hsla(0, 0%, 100%, 1);
  --g43xplc: hsla(189, 13%, 50%, 1);
  --g43xpld: hsla(189, 89%, 17%, 1);
  --g43xple: hsla(0, 0%, 100%, 1);
  --g43xplf: hsla(0, 0%, 100%, 1);
  --g43xplg: hsla(0, 0%, 93%, 1);
  --g43xplh: hsla(0, 0%, 93%, 1);
  --g43xpli: hsla(0, 0%, 87%, 1);
  --g43xplj: hsla(188, 29%, 38%, 1);
  --g43xplk: hsla(189, 89%, 17%, 1);
  --g43xpll: hsla(190, 23%, 31%, 1);
  --g43xplm: hsla(0, 0%, 100%, 1);
  --g43xpln: hsla(0, 0%, 0%, 0.1);
  --g43xplo: hsla(0, 0%, 0%, 0.5);
  --g43xplp: hsla(189, 89%, 17%, 0.9);
  --g43xplq: hsla(0, 0%, 87%, 1);
  --g43xplr: hsla(0, 0%, 87%, 1);
  --g43xpls: hsla(0, 0%, 93%, 1);
  --g43xplt: hsla(189, 13%, 50%, 1);
  --g43xplu: hsla(189, 89%, 17%, 1);
  --g43xplv: hsla(190, 23%, 31%, 1);
  --g43xplw: hsla(197, 100%, 48%, 1);
  --g43xplx: hsla(196, 100%, 38%, 1);
  --g43xply: hsla(0, 0%, 100%, 1);
  --g43xplz: hsla(0, 0%, 100%, 1);
  --g43xpl10: hsla(197, 100%, 48%, 1);
  --g43xpl11: hsla(196, 100%, 38%, 1);
  --g43xpl12: hsla(193, 100%, 59%, 1);
  --g43xpl13: hsla(0, 0%, 100%, 1);
  --g43xpl14: hsla(0, 0%, 100%, 1);
  --g43xpl15: hsla(197, 100%, 48%, 1);
  --g43xpl16: hsla(196, 100%, 38%, 1);
  --g43xpl17: hsla(198, 92%, 95%, 1);
  --g43xpl18: hsla(197, 100%, 48%, 1);
  --g43xpl19: hsla(197, 100%, 48%, 1);
  --g43xpl1a: hsla(196, 100%, 38%, 1);
  --g43xpl1b: hsla(189, 89%, 17%, 1);
  --g43xpl1c: hsla(0, 0%, 87%, 1);
  --g43xpl1d: hsla(189, 13%, 50%, 1);
  --g43xpl1e: hsla(0, 0%, 87%, 1);
  --g43xpl1f: hsla(0, 0%, 87%, 1);
  --g43xpl1g: hsla(0, 0%, 87%, 1);
  --g43xpl1h: hsla(0, 0%, 87%, 1);
  --g43xpl1i: hsla(189, 13%, 50%, 1);
  --g43xpl1j: hsla(125, 56%, 59%, 1);
  --g43xpl1k: hsla(125, 56%, 59%, 1);
  --g43xpl1l: hsla(125, 56%, 59%, 1);
  --g43xpl1m: hsla(125, 56%, 59%, 1);
  --g43xpl1n: hsla(189, 89%, 17%, 1);
  --g43xpl1o: hsla(42, 100%, 67%, 1);
  --g43xpl1p: hsla(42, 100%, 67%, 1);
  --g43xpl1q: hsla(42, 100%, 67%, 1);
  --g43xpl1r: hsla(34, 100%, 48%, 1);
  --g43xpl1s: hsla(34, 100%, 48%, 1);
  --g43xpl1t: hsla(34, 100%, 48%, 1);
  --g43xpl1u: hsla(351, 90%, 60%, 1);
  --g43xpl1v: hsla(351, 90%, 60%, 1);
  --g43xpl1w: hsla(351, 90%, 60%, 1);
  --g43xpl1x: hsla(351, 58%, 48%, 1);
  --g43xpl1y: hsla(350, 90%, 92%, 1);
  --g43xpl1z: hsla(0, 0%, 100%, 1);
  --g43xpl20: hsla(0, 0%, 100%, 1);
  --g43xpl21: hsla(0, 0%, 100%, 1);
  --g43xpl22: hsla(0, 0%, 100%, 1);
  --g43xpl23: hsla(0, 0%, 100%, 1);
  --g43xpl24: hsla(0, 0%, 100%, 1);
  --g43xpl25: hsla(0, 0%, 100%, 1);
  --g43xpl26: hsla(0, 0%, 100%, 1);
  --g43xpl27: hsla(0, 0%, 0%, 1);
  --g43xpl28: hsla(223, 40%, 48%, 1);
  --g43xpl29: hsla(212, 91%, 56%, 1);
  --g43xpl2a: hsla(189, 89%, 17%, 1);
  --g43xpl2b: hsla(190, 23%, 31%, 1);
  --g43xpl2c: hsla(189, 89%, 17%, 1);
  --g43xpl2d: hsla(190, 23%, 31%, 1);
  --g43xpl2e: hsla(189, 89%, 17%, 1);
  --g43xpl2f: hsla(189, 89%, 17%, 1);
  --g43xpl2g: hsla(197, 100%, 48%, 1);
  --g43xpl2h: hsla(0, 0%, 100%, 1);
  --g43xpl2i: hsla(197, 100%, 48%, 1);
  --g43xpl2j: hsla(193, 100%, 59%, 1);
  --g43xpl2k: hsla(196, 100%, 33%, 1);
  --g43xpl2l: hsla(0, 0%, 100%, 1);
  --g43xpl2m: hsla(0, 0%, 100%, 1);
  --g43xpl2n: hsla(0, 0%, 87%, 1);
  --g43xpl2o: hsla(197, 100%, 48%, 1);
  --g43xpl2p: hsla(200, 20%, 97%, 1);
  --g43xpl2q: hsla(0, 0%, 100%, 1);
  --g43xpl2r: hsla(97, 79%, 66%, 1);
  --g43xpl2s: hsla(218, 51%, 33%, 1);
  --g43xpl2t: hsla(212, 95%, 44%, 1);
  --g43xpl2u: linear-gradient(0deg,hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.6) 100%);
  --g43xpl2v: linear-gradient(0deg,hsla(0, 0%, 0%, 0.6) 0%, hsla(0, 0%, 0%, 0) 100%);
  --g43xpl2w: linear-gradient(92deg,hsla(193, 100%, 59%, 1) 4.9%, hsla(197, 100%, 48%, 1) 96%);
  --g43xpl2x: linear-gradient(92deg,hsla(193, 100%, 59%, 1) 4.9%, hsla(197, 100%, 48%, 1) 96%);
  --g43xpl2y: linear-gradient(180deg,hsla(43, 100%, 79%, 1) 0%, hsla(39, 96%, 54%, 1) 100%);
  --g43xpl2z: 48px;
  --g43xpl30: 56px;
  --g43xpl31: 40px;
  --g43xpl32: 56px;
  --g43xpl33: 96px;
  --g43xpl34: 4px;
  --g43xpl35: 8px;
  --g43xpl36: 16px;
  --g43xpl37: 24px;
  --g43xpl38: 32px;
  --g43xpl39: 40px;
  --g43xpl3a: 48px;
  --g43xpl3b: 56px;
  --g43xpl3c: 24px;
  --g43xpl3d: 156px;
  --g43xpl3e: 16px;
  --g43xpl3f: 18px;
  --g43xpl3g: 24px;
  --g43xpl3h: 32px;
  --g43xpl3i: 40px;
  --g43xpl3j: 48px;
  --g43xpl3k: 56px;
  --g43xpl3l: 96px;
  --g43xpl3m: 104px;
  --g43xpl3n: 16px;
  --g43xpl3o: 16px;
  --g43xpl3p: 16px;
  --g43xpl3q: 16px;
  --g43xpl3r: 4px;
  --g43xpl3s: 8px;
  --g43xpl3t: 12px;
  --g43xpl3u: 16px;
  --g43xpl3v: 24px;
  --g43xpl3w: 32px;
  --g43xpl3x: 40px;
  --g43xpl3y: 16px;
  --g43xpl3z: 24px;
  --g43xpl40: 8px;
  --g43xpl41: 16px;
  --g43xpl42: 24px;
  --g43xpl43: 32px;
  --g43xpl44: 24px;
  --g43xpl45: 24px;
  --g43xpl46: 48px;
  --g43xpl47: 24px;
  --g43xpl48: 48px;
  --g43xpl49: 4px;
  --g43xpl4a: 0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);
  --g43xpl4b: 0px 4px 16px 0px hsla(0, 0%, 0%, 0.2);
  --g43xpl4c: 0px 9px 8px -8px hsla(0, 0%, 0%, 0.2);
  --g43xpl4d: 0px 16px 16px -16px hsla(0, 0%, 0%, 0.2);
  --g43xpl4e: 0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);
  --g43xpl4f: 0px 4px 14px 0px hsla(0, 0%, 0%, 0.2);
  --g43xpl4g: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.3);
  --g43xpl4h: 0px 36px 36px 0px hsla(0, 0%, 0%, 0.3);
  --g43xpl4i: 500 82px/82px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4j: 500 56px/56px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4k: 500 48px/48px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4l: 500 30px/32px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4m: 500 40px/42px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4n: 400 22px/24px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4o: 500 22px/24px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4p: 400 18px/20px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4q: 500 18px/20px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4r: 400 18px/20px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4s: 400 16px/20px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4t: 500 16px/20px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4u: 400 13px/16px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4v: 400 12px/16px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4w: 400 10px/14px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4x: 500 16px/20px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4y: 500 12px/16px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl4z: 500 60px/60px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl50: 500 32px/32px "gt-eesti", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --g43xpl51: 16px;
  --g43xpl52: 8px;
  --g43xpl53: 12px;
  --g43xpl54: 24px;
  --g43xpl55: 9999px;
  --g43xpl56: 960px;
  --g43xpl57: 1272px;
  --g43xpl58: 640px;
  --g43xpl59: 800px;
}
